.idp-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.idp-image-card {
    width: 100%;

}

.idp-image-card img {
    max-width: 100%;
    height: auto
}

.idp-link {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background: #f9f9f9;
    border-radius: 15px;
    min-width: 33%;
}